extends layout

block layout-content
  div.View.WelcomeView
      h1.Banner Welcome to my FizzBuzz

      div.Content
        h1 404
        h2 I don't know what are you looking for...
        h3 please back to 
          a(href='/') home

      div.Message
        div.Title
          h3 Navigation panel
          h1
            a(href='/check') Check a Number
          h1
            a(href='/') Back to Home
        span.Details 