extends layout

block layout-content
  div.View.CheckView
      h1.Banner Check a Number

      div.Content 
        form(action=`/result?number=${number}`, method='get')
          h1 Number: 
            input(type='text', name='number')
            input(type='submit', value='Check')

      div.Message
        div.Title
          h3 Navigation panel
          h1
            a(href='/') Back to Home
        span.Details 